body {
  background-color: rgb(203, 182, 167);
  margin: 0px;
  font-family: sans-serif;
}

#content {
  text-align: center;
  margin: 2em 4em 2em 4em;
}

#content>h1 {
  background-color: rgba(0, 0, 0, 0.2);
  padding: 0.4em;
}

#content>h2 {
  background-color: rgba(0, 0, 0, 0.1);
}

#content>p {
  text-align: justify;
}

#content a {
  color: rgb(71, 51, 25);
}

#content code {
  background-color: rgba(255, 255, 255, 0.2);
}

.red {
  color: rgb(187, 61, 61);
}